/* FILE Currently inlined in index.html */
h3 {
  display: inline-block;
  padding: 10px;
  background: #66d9ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.p {
  text-align: center;
  padding-top: 40px;
  font-size: 13px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}