/*
* { 
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    background-color: rgba(0, 0, 0, 1.0);
}

.navbar-inverse {
    width: 100%;
    text-align: center;
    list-style-type: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.03);
    border-width: 0px;
    background-color: rgba(0, 0, 0, 1.0);
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    background-color:rgba(0,0,0,0);
}

.pulse {
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    -webkit-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse:hover {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(47, 121, 185, 0.0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(47, 121, 185, 0.0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 30px rgba(47, 121, 185, 0.0);}}
@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(47, 121, 185, 0.0);}}

body {
    margin-left:auto;
    margin-right:auto;
    left: 0;
    right:0;
    font-family: 'Jura', sans-serif;
    overflow-x: hidden;
}

.centered-h-w {
  min-width: 100%;
  padding: 5px 0px 5px 0px;
  color: rgba(255,255,255,1.0);
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered-h {
  min-width: 100%;
  padding: 5px 0px 5px 0px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.caption {
  text-align: center;
  color: rgb(255,255,255);
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.bg-title {
    width: 100vw;
    min-height: 10vh;
    padding: 40px 0px 40px 0px;
    margin: 0px 0px 0px 0px;
    color: rgba(0,0,0,0.70);
    background-color: rgba(255,255,255,1.0);
}

.bg-generic {
    font-size: auto;
    position: relative;
    width: 100%;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-home {
    text-align: left;
    padding: 10vh 2vh 10vh;
    color: rgba(0, 0, 0, 0.87);
    background-image: url('images/pic-homepage.jpg');
    background-color: rgb(150,150,150);   
    background-position: center;
    background-blend-mode: hard-light;
    background-attachment: fixed;
}

.bg-resume {
    background-position: top;
    text-align: center;
    padding: 60px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.7);
    background-image: url('images/lss1.jpg');
    background-color: rgb(100,100,100);
    background-attachment: fixed;
    background-blend-mode: hard-light;
}

.bg-projects {
    background-position: top;
    text-align: center;
    padding: 60px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.87);
    background-position: left;
    background-color: rgb(255,255,255);
}

.bg-mylife {
    font-size: auto;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 60px 0px 0px 0px;
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 0px 1px rgba(0, 0, 0, 0.0);
    background-color: rgba(255,255,255,1.0);
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
}

.pic-mylife {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/me3.jpg'); 
    background-position: top; 
    height: 100vh; 
}

.bg-contact {
    background-position: bottom;
    text-align: center;
    padding: 60px 0px 0px 0px;
    color: rgba(255, 255, 255, 1.0);
    background-image: url('images/pic-contact-1.jpg');
    background-attachment: fixed;
    background-color: rgb(100,100,100);
    background-blend-mode: hard-light;
    background-position: center; 
}

.thumbnail {
  background-color: rgba(255,255,255,1.0);
  border-width: 0px;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 1px 1px 1px 1px;
}

.working-info {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 30px;
  padding: 20px 20px 20px 20px;
  left:0;
  right:0;
  font-size: auto;
  font-weight: bold;
  position: relative;
  width: 80%;
  height: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: rgba(0,0,0,0.87);
  background: rgba(255,255,255,0.0);
  position: relative;
}

.work-pic-generic {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-color: rgba(127,127,127,1.0);
  width: 100%;
  height: 20vh;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.work-pic-artool {
  background-image: url(images/artool.jpg);
}

.work-pic-marker {
  background-image: url(images/marker.jpg);
}

.work-pic-web {
  background-image: url(images/websitemg.png);
}

#back-button img {
  width: 45px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}


/* #################################### */
/* MOBILE FONT SIZES                    */
/* #################################### */
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* #################################### */
/* #################################### */
/* For desktop screens, increase the fonts sizes */
@media only screen and (min-width: 500px) {
    h1 {
        font-family: 'Lato', sans-serif;
        font-size: 80px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    h2 {
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    
    h3 {
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    h4 {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    p {
        font-size: 16px;
    }
}

@media(min-width:100px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form { 
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    width:50%;
}

#submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color:rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

#submit:hover {
    border: none;
    background: #2f79b9;
}

.animation-element {
  position: relative;
}

/* 
==========================================================================
     Mixins  
========================================================================== 
*/
@mixin anim-filter($filter, $value) {
    -webkit-filter: #{$filter}unquote("(#{$value})");
    -moz-filter: #{$filter}unquote("(#{$value})");
    -ms-filter: #{$filter}unquote("(#{$value})");
    filter: #{$filter}unquote("(#{$value})"); 
}
@mixin anim-transition($property, $value) {
    -webkit-transition: $property, $value;
    -moz-transition: $property, $value;
    -ms-transition: $property, $value;
    transition: $property, $value;
}
@mixin anim-transform($property, $value) {
    -webkit-transform:  #{$property}unquote("(#{$value})");
    -moz-transform: #{$property}unquote("(#{$value})");
    -ms-transform: #{$property}unquote("(#{$value})");
    transform: #{$property}unquote("(#{$value})"); 
}


/*
 ___                          __     ___               
|_ _|_ __ ___   __ _  __ _  __\ \   / (_) _____      __
 | || '_ ` _ \ / _` |/ _` |/ _ \ \ / /| |/ _ \ \ /\ / /
 | || | | | | | (_| | (_| |  __/\ V / | |  __/\ V  V / 
|___|_| |_| |_|\__,_|\__, |\___| \_/  |_|\___| \_/\_/  
                     |___/                             

*/


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.web-gallery {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.web-gallery-view {
  display: block;
  overflow-x: hidden;
  min-width: 100%;
  max-width: 100%;
  min-height: 75vh;
  max-height: 90vh;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #90CAF9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: rgba(0,0,0,0.0); 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.2s;
  animation-name: zoom;
  animation-duration: 0.2s;
}

.web-gallery-thumbs {
  
}

.web-gallery-thumbs div {
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  overflow-x: hidden;
  width: 100%;
  min-height: 24vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.2); 
  opacity: 1.0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 7px;
}

.web-gallery-thumbs-div {
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  overflow-x: hidden;
  width: 100%;
  min-height: 40vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.2); 
  opacity: 0.5;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}



/*
 ____  _    _ _ _ _                
/ ___|| | _(_) | | |__   __ _ _ __ 
\___ \| |/ / | | | '_ \ / _` | '__|
 ___) |   <| | | | |_) | (_| | |   
|____/|_|\_\_|_|_|_.__/ \__,_|_|   
         
 https://codepen.io/tamak/pen/hzEer        
*/
.skillbar {
    position:relative;
    display:block;
    margin-bottom:35px;
    width:100%;
    background:rgba(0,0,0,0.0);
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}



