.bg-home {
  background-image: url('images/DSC_0458F2.png'); 
}

.bg-about {
  background-image: url('images/DSC_0294F.png');
}

.bg-resume {
  background-image: url('images/codingfade.jpg');
}

.bg-mylife {
  background-image: url('images/DSC_0404.JPG');
}

.bg-contact {
  background-image: url('images/contactchrome.jpg');
}


form { 
  margin: 0 auto; 
  width:50vh;
}

